/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Base Styles */
*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #f7f7f7;
    padding: 5px 5px;
}

.dot{
    height: 300px;
    width: 300px;
    background-color: rgb(219, 219, 219);
    border-radius: 20%;
    display: inline-block;
    
  }
  .half-width img{
      width: 200px;
  }

.container{
    max-width: 870px;
    margin:0 auto;
    padding:0 20px;
}



section{
    margin:10px;
}
/* Animation */

@keyframes slideDown {
    0%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes fadeSlide {
    0%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0);
    }
}



/* Header Styles  */
header{
    background-color: white;
    padding: 10px 0;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
}

header .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}


.navigation{
    display:flex;
}
.navigation-items{
    display:flex;
    align-items: center;


}
.navigation-items li{
    list-style: none;
    padding:0 20px;
}
.navigation-items li a{
    color:#1a1a1a;
    text-decoration: none;
    

}

.navigation-items li a:hover{
    color:#FF4A60;
}
.avatar{
    display:flex;
    align-items: center;
    margin-left: 10px;
}
  /* section part one */
#top_section {
    display: flex;
    background-color: #fff;
    margin-top:40px;
    padding:30px;
    border-radius:5px;
    animation: fadeSlide 1.5s ease 0s 1;
    
    
}
button{
    border-radius: 10px;
    color: #ffffff;
    background-color: rgb(255, 64, 127);
    padding: 10px 15px;
    font-size: 15px;
  margin: 2px 2px;
  cursor: pointer;
  

}
.hr{
    border-top:1px solid #dbdbdb;
    margin:40px 0 30px 0;
}
.container{
    font-size:large;
    
}


#latest_collection.container{
    background-color: rgb(255, 255, 255);
    margin:30px auto;
    padding:10px;
    border-radius:6px;
    animation: fadeSlide 2s ease 0s 1;
}

.courses{
    display:grid;
    grid-template-columns: repeat(3,10fr);
    grid-gap:15px;
}
.section_title{
    text-align: center;
     
}
.single_course{
    box-shadow: 0px 5.34229px 13.3557px rgba(228, 222, 222, 0.05);
    padding:15px;
    border-radius:20px;
}
.single_course:hover,.single_blog:hover {
    box-shadow: 0px 5.34229px 13.3557px rgb(0 0 0 / 13%);
    cursor:pointer;
}
.course_banner img{
    width:100%;
}
.instructor{
    color:#ED6B4F;
    font-size:15px;
}
.course_bottom{
    margin: top 30px;
    display: flex;
    justify-content: space-between;
}
.course_rating [name="star"]{
    color:#FFC014;
    margin:-2px;
}
.course_rating [name="star-outline"]{
    color:#FFC014;
    margin:-2px;
}
.course_rating span{
    margin-left:5px;
}

.course_duration{
    background-color: #FFE4E8;
    padding: 0 7px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}


ion-icon.icon{
    margin-top: 5px;
    margin-right: 5px;
    color:#FF4A60;
   
}
.course_duration .time{
    font-size:13px;
    color:#FF4A60;
}

  /* part 3 */
.flexible-container {
    display: flex;
    margin-bottom: 50px;
    padding: 10px 15px;
    background-color: white;
  }
  .half-width {
    width: 30%;
     display: inline-block;
     
  }
  .half-width img {
    width: 70%;
    border-radius:  15px;

  }
  .link-button {
    border-radius: 10px;
    color: #ffffff;
    background-color: rgb(255, 64, 127);
    padding: 10px 15px;
    font-size: 15px;
  margin: 2px 2px;
  cursor: pointer;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
    width: 80px;
    height: 20px;
    border: 5px;
     
  }
   /* part 3  end*/
  /* Footer Area Styles  */
#footer_area .container{
    background-color:#040d24;
    padding: 50px 70px;
    border: radius 5px 5px 0 0;
    animation: fadeSlide 2.5s ease 0s 1;
    text-align: center; color: seashell;
    justify-content: space-between;
    grid-column: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#footer_area .logo img{
width: 30px;

}
.social_icons{
    display: flex;
    
    
    
}
.social_icons ion-icon{
    margin-left:15px;
    font-size:20px;
    color:#fff;
    
}
.social_icons ion-icon:hover{
    color:#FF4A60;
}
@media only screen and (max-width: 600px) {
    ul {
      display: initial;
    }
}
 /* Footer Area Styles end  */
