/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Base Styles */
*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #f9f8ff;
}
.container{
    max-width: 870px;
    margin:0 auto;
    padding:0 20px;
}
section{
    margin:10px;
}
/* Animation */

@keyframes slideDown {
    0%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes fadeSlide {
    0%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0);
    }
}



/* Header Styles  */
header{
    background: #ffffff;
    padding:10px 0;
    animation: slideDown 1s ease .0s 1;
}

header .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}


.navigation{
    display:flex;
}
.navigation-items{
    display:flex;
    align-items: center;


}
.navigation-items li{
    list-style: none;
    padding:0 20px;
}
.navigation-items li a{
    color:#1a1a1a;
    text-decoration: none;
    

}

.navigation-items li a:hover{
    color:#FF4A60;
}
.avatar{
    display:flex;
    align-items: center;
    margin-left: 10px;
}
  /* section part one */
#top_section {
    display: flex;
    background-color: #fff;
    margin-top:40px;
    padding:30px;
    border-radius:5px;
    animation: fadeSlide 1.5s ease 0s 1;
    
}
button{
    border-radius: 10px;
    color: #ffffff;
    background-color: rgb(255, 64, 127);
    padding: 10px 15px;
    font-size: 15px;
  margin: 2px 2px;
  cursor: pointer;
  

}
.container{
    font-size:large;
    
}
hr{
    border-top:1px solid #000000;
    margin:40px 0 30px 0;
}
#latest_collection.container{
    background-color: rgb(255, 255, 255);
    margin:20px auto;
    padding:10px;
    border-radius:5px;
    animation: fadeSlide 2s ease 0s 1;
}
.courses{
    display:grid;
    grid-template-columns: repeat(3,10fr);
    grid-gap:15px;
}
.single_course{
    box-shadow: 0px 5.34229px 13.3557px rgba(228, 222, 222, 0.05);
    padding:15px;
    border-radius:20px;
}
.single_course:hover,.single_blog:hover {
    box-shadow: 0px 5.34229px 13.3557px rgb(0 0 0 / 13%);
    cursor:pointer;
}
.course_banner img{
    width:100%;
}
.instructor{
    color:#ED6B4F;
    font-size:15px;
}
.course_bottom{
    margin: top 30px;
    display: flex;
    justify-content: space-between;
}
.course_rating [name="star"]{
    color:#FFC014;
    margin:-2px;
}
.course_rating [name="star-outline"]{
    color:#FFC014;
    margin:-2px;
}
.course_rating span{
    margin-left:5px;
}

.course_duration{
    background-color: #FFE4E8;
    padding: 0 7px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
ion-icon.icon {
    margin-top: 5px;
    margin-right: 5px;
    color:#FF4A60;
}
.course_duration .time{
    font-size:13px;
    color:#FF4A60;
}



    

