/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Base Styles */
*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #f9f8ff;
}
.container{
    max-width: 870px;
    margin:0 auto;
    padding:0 20px;
}
section{
    margin:10px;
}
/* Animation */

@keyframes slideDown {
    0%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes fadeSlide {
    0%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0);
    }
}



/* Header Styles  */
header{
    background: #ffffff;
    padding:10px 0;
    animation: slideDown 1s ease .0s 1;
}

header .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}


.navigation{
    display:flex;
}
.navigation-items{
    display:flex;
    align-items: center;


}
.navigation-items li{
    list-style: none;
    padding:0 20px;
}
.navigation-items li a{
    color:#1a1a1a;
    text-decoration: none;

}
.navigation-items li a:hover{
    color:#FF4A60;
}
.avatar{
    display:flex;
    align-items: center;
    margin-left: 10px;
}


    

